.menu {
    position: relative;
    height: 15vh;
    width: 100vw;
    background-image: linear-gradient(to right, #25357B, #4360E1);
    border-bottom: #171D25 10px solid;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logoDivIMG {
    width: 130px;
    height: 100px;
}

.logoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300;400;500;600;700&family=Kings&family=Kite+One&display=swap');

.logoDivTXT {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: bold;
    color: #257B52;
    font-style: normal;
}





.userPhoto {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: relative;
    left: 5px;
}

.userName {
    font-size: 17px;
    font-weight: bold;
    font-family: "Kite One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    position: relative;
    left: 2%;
    bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;

}

.userLogout {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 3.5vh;
    left: 10%;
    cursor: pointer;
}

.single-menu-container {
    display: flex;
    position: relative;
    left: 8%;
    width: 1600px;
    flex-direction: row;
    gap: 15%;
}

.userInfoContainer {
    position: relative;
    top: 5%;
    right: -195px;

}

.onPageState {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #47E99B;
    text-decoration: underline;
}

.single-menu-field {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    cursor: pointer;
}

.single-menu-field:hover {
    color: #47E99B
}

@media (min-width: 1900px) {
    .userPhoto {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        position: relative;
        left: 5px;
        bottom: 10px;
    }
}