#tableContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: hidden;

}

#myStatsPage {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh
}