body {
    overflow-x: hidden;
}

#filter-container {
    margin-bottom: 10px;
}

#list-of-quiz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 300px;
    row-gap: 40px;
}

#noQuiz {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#quizzes-content-container {
    overflow-y: auto;
}

@media (min-width: 900px) {
    #list-of-quiz {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 85px;
        row-gap: 70px;
    }
}